.intro {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
img {
    width: 100px;
  height: 50px;
  
  font-weight: bold;
  position: relative;
  animation: mymove 5s infinite;
}
.img1 {animation-timing-function: linear;}
.img2 {animation-timing-function: ease;}
.img3 {animation-timing-function: ease-in;}
.img4 {animation-timing-function: ease-out;}
.img5 {animation-timing-function: ease-in-out;}
@keyframes mymove {
  from {top: 100%;}
  to {top: 0%;}
}
@keyframes example {
  0%   {
      left:0px; top:0px;
  }
  25%  {      
      left:200px; top:0px;
  }
  50%  {
      right:100px; top:0px;
  }  
  100% {
      right:0px; top:0px;
  }
}